<div class="container">
  <!-- Delete message -->
  <div *ngIf="deleteMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{deleteMsg}}</strong>
  </div>

  <ul>
    <li>
      <h4>{{brand.brand_name}}</h4>
    </li>
    <li>
      Brand Owner: {{brand.brand_owner}}
    </li>
  </ul>
  <a class="btn btn-secondary" [routerLink]="['/brands/edit',brand._id]" (click)="onUpdate(brand._id)">Update</a>
  <button class="btn btn-danger" (click)="onDelete(brand._id)">Delete</button>
</div>
