<h2>Owners total {{owners.length}}</h2>
<button class="btn btn-primary" routerLink="/owners/owner-create">Create Owner</button>

<div *ngIf="deleteMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{deleteMsg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<h4>Search For Owner</h4>
<input class="form-control" type="text" name="searchTerm" placeholder="Enter owner name" [(ngModel)]="searchTerm">
<button type="button" class="btn btn-sm btn-danger" (click)="clearSearch()">Clear Search</button>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Owner Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Website</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let owner of owners | orderBy: orderOwnerName">
      <th scope="row" *ngIf="owner.owner_name.includes(searchTerm) || searchTerm==null">{{ owner.owner_name }}</th>
      <td *ngIf="owner.owner_name.includes(searchTerm) || searchTerm==null">{{ owner.owner_address }}</td>
      <td *ngIf="owner.owner_name.includes(searchTerm) || searchTerm==null">{{ owner.owner_phone }}</td>
      <td *ngIf="owner.owner_name.includes(searchTerm) || searchTerm==null"><a target="_blank"
          href="{{ owner.owner_website }}">{{ owner.owner_website }}</a></td>
      <td *ngIf="owner.owner_name.includes(searchTerm) || searchTerm==null">
        <button class="btn btn-sm btn-danger" (click)="onDelete(owner._id)">Delete</button>
      </td>
      <td *ngIf="owner.owner_name.includes(searchTerm) || searchTerm==null">
        <a class="btn btn-sm btn-warning" [routerLink]="['/owners/owner-create',owner._id]">Update</a>
      </td>
    </tr>
  </tbody>
</table>
