<div class="fadeEffect">
  <h2>About</h2>
  <mat-card>
    <mat-card-title>
      Card Title
    </mat-card-title>
    <mat-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quo numquam et. Eligendi sit voluptas, aliquam
      quasi
      maiores fugit nobis ab nihil porro aut provident, ut dicta et perferendis non?
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Card Title 2
    </mat-card-title>
    <mat-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quo numquam et. Eligendi sit voluptas, aliquam
      quasi
      maiores fugit nobis ab nihil porro aut provident, ut dicta et perferendis non?
    </mat-card-content>
  </mat-card>

  <mat-tab-group>
    <mat-tab label="Info 1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus veritatis sapiente
      ipsum officiis eligendi aut.</mat-tab>
    <mat-tab label="Info 2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus veritatis sapiente
      ipsum officiis eligendi aut.</mat-tab>
    <mat-tab label="Info 3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus veritatis sapiente
      ipsum officiis eligendi aut.t</mat-tab>
  </mat-tab-group>
</div>
