<div class="fadeEffect">
  <h2>About</h2>
  <mat-card>
    <mat-card-title>
      Card Title
    </mat-card-title>
    <mat-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quo numquam et. Eligendi sit voluptas, aliquam
      quasi
      maiores fugit nobis ab nihil porro aut provident, ut dicta et perferendis non?
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Card Title 2
    </mat-card-title>
    <mat-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quo numquam et. Eligendi sit voluptas, aliquam
      quasi
      maiores fugit nobis ab nihil porro aut provident, ut dicta et perferendis non?
    </mat-card-content>
  </mat-card>
</div>
