<div class="container">

  <!-- Error message -->
  <div *ngIf="errorMsg" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{errorMsg}}</strong>
  </div>
  <!-- Success message -->
  <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{successMsg}}</strong>
  </div>

  <form [formGroup]="brandForm" (ngSubmit)="onSubmit()">
    <input class="form-control" type="text" name="brand_name" id="brand_name" placeholder="Add Brand Name" required
      formControlName="brand_name" value="brand.brand_name" />
    <input class="form-control mt-1" type="text" name="brand_owner" id="brand_owner" placeholder="Add Brand Owner"
      required formControlName="brand_owner" value="brand.brand_owner" />
    <button type="submit" class="btn btn-primary mt-1">Update Brand</button>
  </form>
</div>
