<h2>Crisps total {{crisps.length}}</h2>
<button class="btn btn-primary" routerLink="/crisps/crisp-create">Create Crisp</button>

<div *ngIf="deleteMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{deleteMsg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<h4>Search For Crisp</h4>
<input class="form-control" type="text" name="searchTerm" placeholder="Enter crisp name" [(ngModel)]="searchTerm">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Crisp Name</th>
      <th scope="col">Image</th>
      <th scope="col">Flavour</th>
      <th scope="col">Brand</th>
      <th scope="col">Weight In Grams</th>
      <th scope="col">Review</th>
      <th scope="col">Review Score</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let crisp of crisps">
      <th scope="row" *ngIf="crisp.crisp_name.includes(searchTerm) || searchTerm==null">{{ crisp.crisp_name }}</th>
      <td *ngIf="crisp.crisp_name.includes(searchTerm) || searchTerm==null"><img class="crisp-img"
          src="{{ crisp.crisp_image }}" alt="Crisp Image"></td>
      <td *ngIf="crisp.crisp_name.includes(searchTerm) || searchTerm==null">{{ crisp.flavour_name }}</td>
      <td *ngIf="crisp.crisp_name.includes(searchTerm) || searchTerm==null">{{ crisp.brand_name }}</td>
      <td *ngIf="crisp.crisp_name.includes(searchTerm) || searchTerm==null">{{ crisp.weight }}g</td>
      <td *ngIf="crisp.crisp_name.includes(searchTerm) || searchTerm==null">{{ crisp.review }}</td>
      <td *ngIf="crisp.crisp_name.includes(searchTerm) || searchTerm==null">{{ crisp.review_score }}/5</td>
      <td *ngIf="crisp.crisp_name.includes(searchTerm) || searchTerm==null">
        <button class="btn btn-sm btn-danger" (click)="onDelete(crisp._id)">Delete</button>
      </td>
      <td *ngIf="crisp.crisp_name.includes(searchTerm) || searchTerm==null">
        <a class="btn btn-sm btn-warning" [routerLink]="['/crisps/crisp-create',crisp._id]">Update</a>
      </td>
    </tr>
  </tbody>
</table>
