<h2>Brands total {{brands.length}}</h2>

<div *ngIf="deleteMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{deleteMsg}}</strong>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Brand Name</th>
      <th scope="col">Brand Owner</th>
      <th scope="col">Edits</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let brand of brands">
      <th scope="row">{{ brand.brand_name }}</th>
      <td>{{ brand.brand_owner }}</td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="onDelete(brand._id)">Delete</button>
        &nbsp;
        <a class="btn btn-sm btn-secondary" [routerLink]="['/brands/brand-create',brand._id]">Update</a>
      </td>
    </tr>
  </tbody>
</table>
