<h2>Brands total {{brands.length}}</h2>
<button class="btn btn-primary" routerLink="/brands/brand-create">Create Brand</button>

<div *ngIf="deleteMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{deleteMsg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<h4>Search For Brand</h4>
<input class="form-control" type="text" name="searchTerm" placeholder="Enter brand name" [(ngModel)]="searchTerm">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Brand Name</th>
      <th scope="col">Brand Owner</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let brand of brands">
      <th scope="row" *ngIf="brand.brand_name.includes(searchTerm) || searchTerm==null">{{ brand.brand_name }}</th>
      <td *ngIf="brand.brand_name.includes(searchTerm) || searchTerm==null">{{ brand.brand_owner }}</td>
      <td *ngIf="brand.brand_name.includes(searchTerm) || searchTerm==null">
        <button class="btn btn-sm btn-danger" (click)="onDelete(brand._id)">Delete</button>
      </td>
      <td *ngIf="brand.brand_name.includes(searchTerm) || searchTerm==null">
        <a class="btn btn-sm btn-warning" [routerLink]="['/brands/brand-create',brand._id]">Update</a>
      </td>
    </tr>
  </tbody>
</table>
