<div class="container">
  <!-- Delete message -->
  <div *ngIf="deleteMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{deleteMsg}}</strong>
  </div>

  <ul>
    <li>
      <h4>{{owner.owner_name}}</h4>
    </li>
    <li>
      Owner Address: {{owner.owner_address}}
    </li>
    <li>
      Owner Phone: {{owner.owner_phone}}
    </li>
    <li>
      Owner Website: <a target="_blank" href="{{owner.owner_website}}">{{owner.owner_website}}</a>
    </li>
  </ul>
  <button class="btn btn-secondary" (click)="onUpdate(owner._id)">Update</button>
  <button class="btn btn-danger" (click)="onDelete(owner._id)">Delete</button>
</div>
