<h2>Create Brand</h2>
<!-- Error message -->
<div *ngIf="errorMsg" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{errorMsg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<!-- Success message -->
<div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{successMsg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<form [formGroup]="brandForm">
  <input class="form-control" type="text" name="brand_name" id="brand_name" placeholder="Add Brand Name" required
    formControlName="brand_name" />

  <label class="m-2" for="brand_owner">Brand Owner</label>

  <select class="form-select" name="brand_owner" id="brand_owner" formControlName="brand_owner">
    <option *ngFor="let owner of owners" value="{{owner.owner_name}}">{{owner.owner_name}}</option>
  </select>

  <!-- Create and Update buttons shown dependant on an id existing -->
  <button type="submit" class="btn btn-primary mt-1" *ngIf="!getParamId" (click)="brandSubmit()">Create</button>

  <button type="submit" class="btn btn-secondary mt-1" *ngIf="getParamId" (click)="brandUpdate()">Update</button>

</form>
