<div class="container">
  <!-- Delete message -->
  <div *ngIf="deleteMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{deleteMsg}}</strong>
  </div>


  <ul>
    <li>
      <h4>{{crisp.crisp_name}}</h4>
    </li>
    <li>
      <img class="crisp_image" src="{{crisp.crisp_image}}" alt="Crisp Image">
    </li>
    <li>
      Flavour Name: {{crisp.flavour_name}}
    </li>
    <li>
      Brand Name: {{crisp.brand_name}}
    </li>
    <li>
      Weight: {{crisp.weight}}g
    </li>
    <li>
      Review {{crisp.review}}
    </li>
    <li>
      Review Score {{crisp.review_score}}/5
    </li>
  </ul>
  <button class="btn btn-secondary" (click)="onUpdate(crisp._id)">Update</button>
  <button class="btn btn-danger" (click)="onDelete(crisp._id)">Delete</button>
</div>
